<div>
  <div>
    <h1>Torneo: <%= tournament.tournament.name %></h1>
  </div>
  <div class="hide-overflow">
    <ul>
      <% tournament.groups.forEach((group) => { %>
        <table class="index">
          <tr>
            <% if (group.name) { %>
              <th>Grupo <%= group.name %></th>
            <% } %>
          </tr>
          <% group.teams.forEach((team) => { %>
            <tr>
              <td><%= team.name %></td>
            </tr>
          <% }) %>
        </table>
      <% }) %>
    </ul>
    <div>
      <form action="<%= backButtonUrl %>" method="get">
        <div>
          <input class="left" type="submit" value="Volver" />
        </div>
      </form>
    </div>
  </div>
</div>
