<div>
  <div>
    <h1>Noticias</h1>
    <h3>En esta sección podrás ver los últimos resultados del deporte que prefieras</h3>
  </div>
  <div>
    <ul>
      <li><a href="<%= futsalUrl %>">Futsal</a></li><br />
      <li><a href="<%= soccerUrl %>">Fútbol internacional</a></li><br />
      <li><a href="<%= tennisUrl %>">Tenis</a></li><br />
    </ul>
  </div>
</div>
