<div>
  <h2>Revisa tu mail</h2>
  <div>
    Debes confirmar tu cuenta con el mail que te llegó.<br />
    Puedes solicitarlo nuevamente desde tu perfil.<br /><br />
  </div>
  <div>
    <form action="<%= profileUrl %>">
      <input type="submit" value="Mi perfil"/>
    </form>
  </div>
</div>
