<div>
  <div>
    <h1>Bienvenido a Sportfinder <%= appVersion %></h1>
  </div>
  <div>
    <h3>多 Buscas un compa単ero o un equipo rival para un deporte ?</h3>
  </div>
  <div id="login">
    <form action="/login" enctype="multipart/form-data" method="post">
      <input type="text" name="username" placeholder="Usuario">
      <input type="password" name="password" placeholder="Contrase単a">
      <input type="checkbox" name="remember" checked="checked"/>Recordarme<br><br>
      <input type="submit" value="Ingresar">
    </form>
  </div>
  <div>
    多 No tienes cuenta ?
  </div>
  <div id="signup">
    <form action="<%= signupUrl %>">
      <input type="submit" value="Registrarme"/>
    </form>
  </div>
</div>
