<div>
  <div>
    <h1>Bienvenido a Sportfinder</h1>
  </div>
  <div>
    Hubo un error al validar tu ingreso de sesión. Por favor vuelve a intentarlo.<br /><br />
  </div>
  <div>
    <form action="<%= homeUrl %>">
      <input type="submit" value="Volver"/>
    </form>
  </div>
</div>
