<div>
  <h1>Equipos</h1>
</div>
<div>
  <ul>
    <% teams.forEach((team) => { %>
      <li><a href="<%= teamUrl(team) %>"><%= team.name %></a></li>
    <% }) %>
  </ul>
</div>
<div>
  <a class="btn" href="<%= newTeamUrl %>">Agregar equipo</a>
</div>
